<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/scriptToMain.js" defer></script>
</head>
<body onload = "loadingToMain()">
    <nav class="navbar">
        <a href="/HeySuri/HeySuri-main/templates/"><h4>HeySuri!</h4></a>
     </nav>

    <div class="mainpage-container">
        <img src="../static/assets/mic-aktif.png" alt="">
        <h3>HeySuri!</h3>
    </div>

</body>
</html>